// Colors
$white: hsl(0, 0%, 100%);
$cyan: hsl(187, 70%, 57%);
$lightCyan: hsl(187, 100%, 90%);

$blue: hsl(242, 58%, 25%);
$green: hsl(187, 100%, 19%);
$black: #000;


// Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Typography 
$primaryFont: 'Inter', sans-serif;